<div class="collapse" id="navbarToggleExternalContent" data-bs-theme="secondary">
  <div class="menu p-4 d-flex flex-row justify-content-between">
    <h5 class="text-light">Smart Wallet APP</h5>
    <h5 class="text-primary">
    <% if user_signed_in? %>
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
<% else %>
<div class="d-flex flex-row gap-3">
<%= link_to 'Sign in', new_user_session_path, style: "text-decoration:none;" %>
</div>
<% end %>
    </h5>
  </div>
</div>
<nav class="navbar navbar-dark menu">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="d-flex flex-row align-items-center align-items-center gap-2 text-light notifaction">
    <%= render partial: '/share/notification' %>
    <span class="text-light"><i class="fa-solid fa-magnifying-glass"></i></span>
    </div>
  </div>
</nav>