<div class="collapse" id="navbarToggleExternalContent" data-bs-theme="secondary">
  <div class="menu p-4 d-flex flex-row justify-content-between">
    <h5 class="text-light">Smart Wallet APP</h5>
    <h5 class="text-primary">LOGIN</h5>
  </div>
</div>
<nav class="navbar navbar-dark menu">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <span class="text-light"><i class="fa-solid fa-magnifying-glass"></i></span>
  </div>
</nav>