
@font-face {
  font-family: proxima;
  src: url(FontsFree-Net-Proxima-Nova-Bold.otf);
}

@font-face {
  font-family: proxima-light;
  src: url(FontsFree-Net-Proxima-Nova-Light.otf);
}

body {
  background-color: #f5f5f5;
  height: 100%;
  font-weight: 100;
}

body h1,
h2,
h3,
h4,
h5 {
  font-family: proxima, sans-serif;
}

body p,
span {
  font-family: proxima-light, sans-serif;
  color: #3378c2;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu {
  background-color: #220237;
  text-decoration: none;
}

.img-item {
  height: 100%;
  width: 20%;
}

.custom_color {
  color: #2e054a;
}

.error {
  font-size: 14px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.button {
  display: flex;
  padding: 15px;
  width: 100%;
}

.button a {
  float: right;
  font-size: 20px;
}

.item-image img {
  width: 55%;
}

.small-icon {
  width: 100px;
  border-radius: 10px;
  padding: 0 10px;
}

@font-face {
  font-family: proxima;
  src: url(FontsFree-Net-Proxima-Nova-Bold.otf);
}

.navs,
.navs span {
  background-color: #3378c2;
  color: #fff;
}

.btn {
  background-color: #5fb523;
  font-size: 18px;
  font-weight: 500;
  transition: 0.5s;
}

.btn:hover {
  background-color: #1abaeb;
  color: #000;
}
